body {
  background-image: url(List.png);
  background-size: 100%;
}

table.game {
  border: 2pt solid; 
  height: 20pt;
  width: 20pt;
}

th {
  border: 2pt solid;
  border-color: #000080;  
  color: darkblue;  
}

td {   
    border: 2pt solid;
    border-color: #000080; 
    color: darkblue;    
}

img {    
    opacity:0.5;    
}

buttonGame {   
    background-color: transparent;   
}

a:hover {
    color: red;        
}

#gameResult {
    overflow: auto;   
}

#greating {
    text-align:center;
    font-stretch:wider;
    padding-bottom:20px;
}

#tableOfScore {
    table-layout: fixed;
}

#person {
    font-weight:800;
    font-size:large;
    text-align:right;
}

.btnMarg {
    margin-top: 10px;
}


