body {
  background-image: url(List.png);
  background-size: 100%;
}

table.game {
  border: 2pt solid; 
  height: 20pt;
  width: 20pt;
}

th {
  border: 2pt solid;
  border-color: #000080;  
}

td {   
    border: 2pt solid;
    border-color: #000080; 
}

img {    
    opacity:0.5;    
}

buttonGame {   
    background-color: transparent;   
}

a:hover {
    color: red;    
}